<template>
  <div>
    <nuxt-link
      class="fr-link fr-fi-arrow-left-line fr-link--icon-left fr-mb-6w"
      :to="{ name: 'services', query: $route.query }"
      >Retour à la liste</nuxt-link
    >

    <FrTitle class="fr-mb-6w" larger>{{ service.value }}</FrTitle>
    <div class="fr-mb-lg-6w fr-mb-2w fr-grid-row">
      <FrTitle tag="h2" class="fr-mb-1w fr-mr-2w">
        {{ service.name }}
      </FrTitle>

      <a
        class="fr-link fr-fi-arrow-right-line fr-link--icon-right fr-text--lg anct-link-no-underline"
        :href="service.url"
        target="_blank"
        rel="noopener"
        >Voir le site du service</a
      >
    </div>

    <FrTag
      v-if="service.stage"
      class="fr-mr-2w fr-mt-2w fr-mb-1w"
      :class="{
        'fr-background-alt--green-emeraude anct-text-green':
          service.stage === 'Disponible',
        'fr-background-alt-grey anct-text-main': service.stage === 'En test',
      }"
      :label="service.stage"
    />
    <FrTag
      v-for="(theme, index) in [service.competence, ...service.themes]"
      :key="`service-tag--${index}`"
      class="fr-mr-2w fr-my-1w anct-text-blue anct-bg-blue--darker"
      :label="theme"
    />

    <div class="fr-my-6w">
      <FrLinkButton
        :to="{ name: 'contact' }"
        @click.native="trackContactClick('services')"
        >Contacter</FrLinkButton
      >
    </div>

    <div>
      <FrAccordion
        v-if="service.description"
        id="description"
        v-model="accordion.description"
        title="Description"
        collapse-blue
      >
        <div
          class="fr-col-lg-8 fr-my-2w fr-px-2w fr-text--bold anct-html-content"
          v-html="service.description"
        ></div>
      </FrAccordion>

      <FrAccordion
        v-if="service.features && service.features.length"
        id="features"
        v-model="accordion.features"
        title="Les fonctionnalités"
      >
        <p>A quoi vous servira ce service ?</p>

        <div class="fr-grid-row">
          <FrCard
            v-for="(feature, index) in service.features"
            :key="`service-feature-card--${index}`"
            :description="feature.description"
            class="fr-mr-md-2w fr-mb-2w fr-col-10 fr-col-lg-3"
            no-arrow
          >
            <template v-if="feature.status" #start>
              <FrTag
                class="fr-text--xs anct-bg-transparent fr-px-0"
                :class="{
                  'anct-text-green': feature.status === 'Disponible',
                  'anct-text-main': feature.status === 'En test',
                }"
                :label="feature.status"
              />
            </template>

            <template #title>
              {{ feature.title }}
            </template>

            <template v-if="feature.status === 'En test'" #endDetail>
              <div class="anct-flex-end">
                <nuxt-link
                  :to="{ name: 'contact' }"
                  class="fr-link fr-fi-arrow-right-line fr-link--icon-right anct-link-no-underline"
                  >Je veux tester</nuxt-link
                >
              </div>
            </template>
          </FrCard>
        </div>
      </FrAccordion>

      <FrAccordion
        v-if="service.target"
        id="territorial-level-target"
        v-model="accordion.territorialLevel"
        title="Les utilisateurs"
      >
        <p>A qui s'adresse ce service</p>

        <div class="fr-mb-2w fr-col-lg-8">
          <FrTag
            v-for="(level, index) in service.target"
            :key="`service-level-target-tag--${index}`"
            class="fr-mr-2w fr-mb-2w anct-text-blue anct-bg-blue--darker"
            :label="level"
          />
        </div>

        <p v-if="service.target_description" class="fr-col-lg-8">
          {{ service.target_description }}
        </p>
      </FrAccordion>

      <FrAccordion
        v-if="service.core_team || service.anct_team"
        id="teams"
        v-model="accordion.teams"
        title="Les équipes"
      >
        <div class="col-lg-8 fr-mb-2w">
          <FrTag
            v-for="(teamMember, index) in service.core_team"
            :key="`service-core-team-tag--${index}`"
            :label="teamMember"
            class="fr-mr-2w fr-text--md fr-mb-4w anct-text-blue anct-bg-blue--darker"
          />

          <template v-if="service.anct_team">
            <p><strong>Les expert de l'ANCT</strong></p>

            <FrTag
              v-for="(teamMember, index) in service.anct_team"
              :key="`service-anct-team-tag--${index}`"
              :label="teamMember"
              class="fr-mr-2w fr-text--md fr-mb-2w fr-background-alt--green-emeraude anct-text-green"
            />
          </template>
        </div>

        <a
          href="https://forum.incubateur.anct.gouv.fr"
          class="fr-btn fr-btn--ternary fr-text--md"
          target="_blank"
          rel="noopener"
        >
          Posez une question sur le forum
        </a>
      </FrAccordion>

      <FrAccordion
        v-if="service.history"
        id="history"
        v-model="accordion.history"
        title="Un peu d’historique sur ce service"
      >
      </FrAccordion>

      <FrAccordion
        v-if="service.users"
        id="partners"
        v-model="accordion.partners"
        title="Les collectivités qui leur font confiance"
        collapse-blue
      >
        <div class="fr-m-2w">
          <FrTag
            v-for="(territory, index) in service.users"
            :key="`service-tag-partner--${index}`"
            class="fr-mr-2w fr-mb-2w anct-text-blue anct-bg-blue--darker"
            :label="territory"
          />
        </div>
      </FrAccordion>
    </div>
  </div>
</template>

<script>
import { marked } from 'marked';

import FrTitle from '~/components/ui/Title';
import FrTag from '~/components/ui/tags/Basic';
import FrLinkButton from '~/components/ui/LinkButton';
import FrAccordion from '~/components/elements/Accordion';
import FrCard from '~/components/elements/Card';

export default {
  name: 'ServicePage',
  components: { FrLinkButton, FrTitle, FrTag, FrAccordion, FrCard },

  async asyncData({ $axios, params, redirect }) {
    const { data: serviceData } = await $axios.get('/items/services', {
      params: {
        filter: { slug: { _eq: params.slug } },
      },
    });

    const [service] = serviceData.data;

    if (!service) {
      return redirect({ name: 'services' });
    }

    const features = await Promise.all(
      service.features.map(async (featureId) => {
        const res = await $axios.get('/items/features', {
          params: { filter: { id: featureId } },
        });

        return res.data.data[0];
      }),
    );

    return {
      service: {
        ...service,
        features,
      },
    };
  },

  data() {
    return {
      accordion: {
        description: true,
        features: true,
        territorialLevel: false,
        deploy: false,
        teams: false,
        history: false,
        partners: false,
      },
    };
  },

  methods: {
    marked,
    trackContactClick(eventName) {
      this.$matomo?.trackEvent('Contact', 'Click', eventName);
    },
  },
};
</script>

<style scoped>
/deep/ .anct-html-content blockquote {
  margin-left: 0;
  border-left: 4px solid var(--blue-france-main-525);
  padding-left: 16px;
}

/deep/ .anct-html-content blockquote p {
  margin-bottom: 0;
}

/deep/ .anct-html-content blockquote p strong {
  font-weight: normal;
}

/deep/ .anct-html-content ul,
/deep/ .anct-html-content ol {
  margin-left: 24px;
  margin-bottom: 16px;
}

/deep/ .anct-html-content ul p {
  margin-bottom: 8px;
}

/deep/ .anct-html-content h2 {
  margin-top: 48px;
}
</style>
