<template>
  <div>
    <FrTitle class="fr-mb-6w" larger> Catalogue des services </FrTitle>

    <div class="fr-container fr-container--fluid fr-px-0">
      <div
        class="fr-grid-row"
        :class="{ 'anct-flex-column-reverse': isMobile }"
      >
        <div class="fr-col-lg-7 fr-col">
          <p class="fr-h3">
            <strong>{{ servicesNumberString }}</strong>
          </p>

          <div class="fr-container fr-container--fluid fr-px-0">
            <div class="fr-grid-row">
              <FrCard
                v-for="(service, index) in services"
                :key="`service-card--${index}`"
                :title="truncateString(service.value || '', 120)"
                :to="{
                  name: 'services-slug',
                  params: { slug: service.slug },
                  query: $route.query,
                }"
                enlarge-link
                class="fr-col-lg-5 fr-mr-2w fr-mb-2w"
              >
                <template #start>
                  <div class="anct-flex-between anct-flex-center">
                    <FrTag
                      class="fr-text--xs anct-text-blue"
                      :class="{
                        'anct-text-blue': service.type === 'Service numérique',
                      }"
                      :label="service.type"
                    />
                    <FrTag
                      class="fr-text--xs anct-bg-transparent"
                      :class="{
                        'anct-text-green': service.stage === 'Disponible',
                        'anct-text-main': service.stage === 'En test',
                      }"
                      :label="service.stage"
                    />
                  </div>
                </template>

                <template #startDetail
                  ><p class="fr-card__detail">
                    {{ service.competence }}
                  </p></template
                >

                <template #description>
                  <p class="fr-mb-1w fr-text--sm">
                    <strong>{{ service.name }}</strong>
                  </p>

                  <p v-if="service.description" class="fr-text--sm" v-html="truncateString(service.description)">
                  </p>
                </template>
              </FrCard>
            </div>
          </div>

          <FrPagination
            v-if="pagination.total > 0"
            v-model="pagination.current"
            :total="Math.ceil(pagination.total / pagination.limit)"
            class="fr-mt-4w anct-flex-center"
            @input="updatePage"
          />
        </div>

        <div class="fr-col-lg-5">
          <FrSearch
            id="search-service"
            v-model="form.searchString"
            @input:blur="trackSearch"
            @button:click="trackSearchClick"
          />

          <div class="fr-mt-4w">
            <p v-if="!isMobile" class="fr-mb-1w fr-text--lg">
              <strong>Vous êtes</strong>
            </p>
            <button
              v-for="(value, index) in SCALE_FILTER"
              :key="`type-filter--${index}`"
              class="fr-btn fr-mr-2w fr-mb-2w fr-text--sm"
              :class="{
                'fr-btn--primary': form.scales.includes(value),
                'fr-btn--secondary': !form.scales.includes(value),
              }"
              @click="toggleScale(value)"
            >
              {{ value }}
            </button>
          </div>

          <div v-if="!isMobile">
            <div class="fr-mt-4w">
              <p class="fr-pb-1w fr-text--lg border-bottom-primary">
                <strong>À quel sujet</strong>
              </p>
              <button
                v-for="(value, index) in THEME_FILTER"
                :key="`theme-filter--${index}`"
                class="fr-btn fr-mr-2w fr-mb-2w fr-text--sm"
                :class="{
                  'fr-btn--primary': form.themes.includes(value),
                  'fr-btn--secondary': !form.themes.includes(value),
                }"
                @click="toggleTheme(value)"
              >
                {{ value }}
              </button>
            </div>

            <div class="fr-mt-4w">
              <div class="fr-select-group">
                <label class="fr-label fr-text--lg fr-mb-1w" for="select">
                  <strong>Programme de l'Incubateur</strong>
                </label>
                <select
                  id="select"
                  v-model="form.program"
                  class="fr-select"
                  name="select"
                >
                  <option value="" selected disabled hidden>
                    Selectionnez une option
                  </option>
                  <option
                    v-for="(option, index) in PROGRAM_OPTIONS"
                    :key="`select-option--${index}`"
                    :value="option"
                  >
                    {{ option }}
                  </option>
                </select>
              </div>
            </div>

            <div class="fr-mt-4w">
              <div class="fr-grid-row"></div>
              <p class="fr-col fr-pb-1w fr-text--lg border-bottom-primary">
                <strong>Quels types de ressources ?</strong>
              </p>
              <FrSwitch
                v-model="form.isAvailable"
                switch-id="switch-dispo"
                label="Disponibles immédiatement"
                label-left
                class="border-bottom-primary"
              />
              </div>
            </div>
          </div>

          <p
            v-if="isMobile"
            class="fr-mb-6w fr-mt-5w anct-text-blue anct-cursor-pointer"
            :data-fr-opened="isFilterModalOpened"
            aria-controls="fr-modal-search-filters"
            @click="openFilterModal"
          >
            Plus de filtres
            <span
              class="fr-ml-1w fr-fi-equalizer-fill"
              aria-hidden="true"
            ></span>
          </p>
        </div>
    </div>

    <FrModal
      id="service-filters-modal"
      :opened="isFilterModalOpened"
      @close="closeFilterModal"
    >
      <div>
        <p class="fr-pb-1w fr-text--lg border-bottom-primary">
          <strong>À quel sujet</strong>
        </p>
        <button
          v-for="(value, index) in THEME_FILTER"
          :key="`theme-filter--${index}`"
          class="fr-btn fr-mr-2w fr-mb-2w fr-text--sm"
          :class="{
            'fr-btn--primary': form.themes.includes(value),
            'fr-btn--secondary': !form.themes.includes(value),
          }"
          @click="toggleTheme(value)"
        >
          {{ value }}
        </button>
      </div>

      <div class="fr-mt-4w">
        <div class="fr-select-group">
          <label class="fr-label fr-text--lg fr-mb-1w" for="select">
            <strong>Programme de l'Incubateur</strong>
          </label>
          <select
            id="select"
            v-model="form.program"
            class="fr-select"
            name="select"
          >
            <option value="" selected disabled hidden>
              Selectionnez une option
            </option>
            <option
              v-for="(option, index) in PROGRAM_OPTIONS"
              :key="`select-option--${index}`"
              :value="option"
            >
              {{ option }}
            </option>
          </select>
        </div>
      </div>

      <div class="fr-mt-4w">
        <div class="fr-grid-row"></div>
        <p class="fr-col fr-pb-1w fr-text--lg border-bottom-primary">
          <strong>Quels types de ressources ?</strong>
        </p>

        <div class="fr-col-8">
          <FrSwitch
            v-model="form.isService"
            switch-id="switch-service-numeriques"
            class="border-bottom-primary"
            label="Services numériques"
            label-left
          />

          <FrSwitch
            v-model="form.isGuide"
            switch-id="switch-kit"
            label="Kit et Guide"
            label-left
            class="border-bottom-primary"
          />

          <FrSwitch
            v-model="form.isAvailable"
            switch-id="switch-dispo"
            label="Disponibles immédiatement"
            label-left
            class="border-bottom-primary"
          />
        </div>
      </div>

      <template #footer>
        <div class="fr-mb-12w fr-mt-2w anct-flex-end">
          <button
            class="fr-btn fr-text--md fr-grid-row fr-grid-row--middle"
            @click="closeFilterModal"
          >
            Appliquer
          </button>
        </div>
      </template>
    </FrModal>
  </div>
</template>

<script>
import cloneDeep from 'lodash.clonedeep';
import qs from 'qs';

import { INDEX } from '~/plugins/meilisearch';
import {
  SCALE_FILTER,
  THEME_FILTER,
  PROGRAM_OPTIONS,
} from '~/pages/services/data';

import FrSwitch from '~/components/form/Switch';
import FrSearch from '~/components/form/Search';
import FrCard from '~/components/elements/Card';
import FrPagination from '~/components/elements/Pagination';
import FrTitle from '~/components/ui/Title';
import FrTag from '~/components/ui/tags/Basic';
import FrModal from '~/components/elements/Modal';

import paginationMixin, {
  getInitialPagination,
} from '~/pages/services/paginationMixin';

const initialForm = {
  searchString: '',
  scales: [],
  themes: [],
  program: '',
  isService: true,
  isGuide: true,
  isAvailable: false,
};

const initialPagination = getInitialPagination();

const searchService = async (
  search,
  { index, pagination, filter, searchString },
) => {
  const { hits, nbHits } = await search.index(index).search(searchString, {
    filter,
    limit: pagination.limit,
    offset: (pagination.current - 1) * pagination.limit,
  });

  return {
    services: hits.map(cleanServiceFormatForCard),
    total: nbHits,
  };
};

const cleanServiceFormatForCard = (service) => ({
  ...service,
  description: service.description?.replace('\\', '') || null,
});

const getCompatibleFormFromQueryFilter = (queryFilter) =>
  queryFilter.reduce((acc, value) => {
    let key;
    let cleanedValue;

    if (typeof value === 'string') {
      [key] = value.split(' = ');
      [, cleanedValue] = value.split(' = ')[1].split('"');
    } else {
      key = value[0].split(' = ')[0].trim();
      cleanedValue = value.map((v) => v.split(' = ')[1].split('"')[1]);
    }

    switch (key) {
      case 'target':
        return { ...acc, scales: cleanedValue };
      case 'themes':
      case 'competence':
        return { ...acc, themes: cleanedValue };
      case 'program':
        return { ...acc, program: cleanedValue };
      case 'stage':
        return {
          ...acc,
          isAvailable: cleanedValue === 'Disponible',
        };
      default:
        return acc;
    }
  }, {});

export default {
  name: 'ServicesPage',

  components: {
    FrTitle,
    FrSwitch,
    FrSearch,
    FrCard,
    FrPagination,
    FrTag,
    FrModal,
  },

  mixins: [paginationMixin(initialPagination)],

  async asyncData({ $search, query }) {
    const parsedFilterQuery = qs.parse(query.filter);
    const filter = Object.values(parsedFilterQuery);
    const searchString = query.search || '';

    const { services, total } = await searchService($search, {
      index: INDEX,
      pagination: initialPagination,
      filter,
      searchString,
    });

    const formElements = {
      ...getCompatibleFormFromQueryFilter(filter),
      searchString,
    };

    const form = {
      ...cloneDeep(initialForm),
      ...formElements,
    };

    return {
      form,
      services,
      pagination: {
        ...initialPagination,
        total,
      },
      isFilterModalOpened: false,
      SCALE_FILTER,
      THEME_FILTER,
      PROGRAM_OPTIONS,
      isMobile: false,
    };
  },

  computed: {
    servicesNumberString() {
      const { total } = this.pagination;
      const isPlural = total > 1;

      return `${total} ressource${isPlural ? 's' : ''} disponible${
        isPlural ? 's' : ''
      } pour vous`;
    },
  },

  watch: {
    form: {
      handler() {
        this.filterServices();
      },
      deep: true,
    },
  },

  mounted() {
    this.updateResponsiveState();
    window.addEventListener('resize', this.updateResponsiveState);
  },

  destroyed() {
    window.removeEventListener('resize', this.updateResponsiveState);
  },

  methods: {
    async updatePage() {
      const filter = this.generateFilter();
      const queryFilter = qs.stringify(filter);

      await this.$router.replace({
        path: this.$route.path,
        query: {
          ...this.$route.query,
          filter: queryFilter,
          search: this.form.searchString,
        },
      });

      const { services, total } = await searchService(this.$search, {
        index: INDEX,
        pagination: this.pagination,
        filter,
        searchString: this.form.searchString,
      });

      this.services = services;
      this.setPagination({ total });
    },
    async filterServices() {
      const filter = this.generateFilter();
      const queryFilter = qs.stringify(filter);

      await this.$router.replace({
        path: this.$route.path,
        query: {
          ...this.$route.query,
          filter: queryFilter,
          search: this.form.searchString,
        },
      });

      const { services, total } = await searchService(this.$search, {
        index: INDEX,
        pagination: this.pagination,
        filter,
        searchString: this.form.searchString,
      });

      this.services = services;
      this.setPagination({ total, current: 1 });
    },
    generateFilter() {
      return [
        this.generateScalesFilter(),
        this.generateThemesFilter(),
        this.generateProgramFilter(),
        this.generateTypesFilter(),
        this.generateStatusFilter(),
      ].filter(({ length }) => length > 0);
    },
    generateScalesFilter() {
      const filter = this.form.scales.map((scale) => `target = "${scale}"`);

      return filter.length ? filter : '';
    },
    generateThemesFilter() {
      return this.form.themes.map(
        (theme) => `themes = "${theme}" OR competence = "${theme}"`,
      );
    },
    generateProgramFilter() {
      return this.form.program && this.form.program !== 'Tous les programmes'
        ? `program = "${this.form.program}"`
        : '';
    },
    generateStatusFilter() {
      return this.form.isAvailable ? `stage = "Disponible"` : '';
    },
    generateTypesFilter() {
      const filter = [];

      if (this.form.isService) {
        filter.push('type = "Service numérique"');
      }

      if (this.form.isGuide) {
        filter.push('type = "Kit et Guide"');
      }

      return filter.length ? filter : '';
    },

    toggleScale(value) {
      if (this.form.scales.includes(value)) {
        this.form.scales = this.form.scales.filter((scale) => scale !== value);
      } else {
        this.form.scales.push(value);
      }
    },
    toggleTheme(value) {
      if (this.form.themes.includes(value)) {
        this.form.themes = this.form.themes.filter((theme) => theme !== value);
      } else {
        this.form.themes.push(value);
      }
    },

    truncateString(str, charNumber = 100) {
      if (str.length > charNumber) {
        return `${str.substring(0, charNumber)}...`.replace(/<[^>]+>/ig, '');
      }
      return str;
    },
    getCSSClassColor(type) {
      switch (type) {
        case 'Service numérique':
          return 'tag-color-primary';
        case 'Retours d’expériences':
          return 'tag-color-secondary';
        case 'Kit et Guide':
          return 'tag-color-tertiary';
        case 'Disponibles immédiatement':
          return 'tag-color-quaternary';
        case 'Disponible':
          return 'text-success-color';
        default:
          return null;
      }
    },
    openFilterModal() {
      this.isFilterModalOpened = true;
    },
    closeFilterModal() {
      this.isFilterModalOpened = false;
    },

    trackSearch() {
      this.$matomo?.trackSiteSearch(this.form.searchString);
    },
    trackSearchClick() {
      this.$matomo?.trackEvent('Search', 'Click', 'Click on search buttons');
    },

    updateResponsiveState() {
      this.isMobile = window.innerWidth < this.$config.mobileBreakpoint;
    },
  },
};
</script>

<style scoped>
.border-bottom-primary {
  border-bottom: 1px solid var(--border-default-grey);
}

.tag-color-primary {
  color: var(--blue-france-sun-113-625);
}

.tag-color-secondary {
  color: var(--grey-50-1000);
}

.text-success-color {
  color: var(--success-425-625);
}
</style>
