<template>
  <component
    :is="tag"
    :class="{
      'anct-text-center': centered,
      'fr-display--xs': larger,
      'fr-text-title--blue-france': !black,
      capitalize,
    }"
    v-bind="$attrs"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: 'FrTitle',

  props: {
    tag: {
      type: String,
      default: 'h1',
    },
    larger: {
      type: Boolean,
      default: false,
    },
    centered: {
      type: Boolean,
      default: false,
    },
    black: {
      type: Boolean,
      default: false,
    },
    capitalize: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.capitalize {
  text-transform: capitalize;
}
</style>
